/*! HTML5 Boilerplate v7.1.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 1.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


 /* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  background-color: #faf8f5;
  color: #292929;
  font-family: GTWalsheimPro, sans-serif;
  font-size: 16px;
  line-height: 24px;
  overflow-x: hidden;

  /* For rendering purposes */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  margin: 16px 0;
}

.mt-8 {
  margin-top: 8px;
}

.Section {
  padding: 64px 24px;
  position: relative;
}

.Section--Dark {
  background-color: #292929;
  color: white;
}

.Section--Small {
  padding-bottom: 32px;
  padding-top: 32px;
}

@media (min-width: 992px) {
  .Section--Large {
    padding-bottom: 112px;
    padding-top: 112px;
  }
}

.Section > .Section {
  padding-left: 0;
  padding-right: 0;
}

.Section__Intro {
  color: #84775d;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 16px;
  margin: auto;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.Section__Title {
  color: #463e39;
  font-size: 32px;
  font-weight: normal;
  line-height: 48px;
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 648px;
  text-align: center;
}

.Container {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 100%;
  width: 980px;
}

.Unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}

.Link {
  align-items: center;
  color: #a7c110;
  display: inline-flex;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
}

.Link:hover {
  color: #8b9f22;
}

button.Link {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.Link--Small {
  font-size: 16px;
}

.Link--Light {
  font-weight: normal;
}

.Link__Icon {
  margin-right: 8px;
}

.Link__Arrow {
  height: 24px;
  margin-left: 8px;
  width: 24px;
}

.Link__Icon--Small {
  height: 16px;
  margin-right: 4px;
  width: 16px;
}

.Header {
  /* display: none; */
  margin-top: 24px;
  padding: 12px 24px;
  position: absolute;
  top: 0;
  transition: background-color ease-in-out .25s;
  width: 100%;
  will-change: background-color;
  z-index: 3;
}

@media (min-width: 992px) {
  .Header {
  }
}

.Header--Active {
  background-color: #ffffffe6;
  margin-top: 0;
  position: fixed;
}

.Header__Logo__Image {
  height: 60px;
  transition: width ease-in-out .25s, height ease-in-out .25s;
  will-change: width, height;
}

.Header--Active .Header__Logo__Image {
  height: 36px;
}

.Header__Container {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.Header__Nav {
  align-items: center;
  display: flex;
  font-size: 14px;
}

@media (min-width: 992px) {
  .Header__Nav {
  }
}

.Header__Item + .Header__Item {
  margin-left: 32px;
}

.Header__Link {
  color: #463e39;
  font-size: 14px;
  font-weight: 500;
}

.Button {
  align-items: center;
  background-color: #a7c110;
  border-radius: 24px;
  color: #292929;
  display: flex;
  font-weight: bold;
  padding: 12px 32px;
  text-decoration: none;
}

.Button:hover {
  background-color: #8b9f22;
}

.Button--Centered {
  margin: auto;
}

.Button--Light {
  font-weight: normal;
}

.Button--Icon {
  padding: 8px 32px 8px 16px;
}

.Button__Icon {
  margin-right: 8px;
}

.Panel {
  background-color: white;
  border-radius: 4px;
  color: #292929;
  padding: 16px;
}

.Panel--Large {
  padding: 24px;
}

@media (min-width: 570px) {
  .Panel--Large {
    padding: 32px;
  }
}

.Panel--Large > .Panel__Footer {
  margin: -24px;
  margin-top: 24px;
  padding: 16px 24px;
}

@media (min-width: 570px) {
  .Panel--Large > .Panel__Footer {
    margin: -32px;
    margin-top: 32px;
    padding: 16px 32px;
  }
}

.Panel--Dark {
  background-color: #3f3f3f;
  color: white;
}

.Panel--Dark > p {
  color: #b99d64;
  margin: 0;
}

.Panel--Dark > hr {
  border-color: #c1b8a580;
}

.Panel--Centered {
  align-items: center;
  display: flex;
  justify-content: center;
}

.Panel__Footer {
  background-color: #292929;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  color: white;
  margin: -16px;
  margin-top: 16px;
  padding: 12px 16px;
}

.Panel__Link {
  font-size: 12px;
  font-weight: 500;
}

.Hero {
  background-image: url(../img/andrew-neel-218073-unsplash@2x.jpg);
  background-size: cover;
  padding-top: 96px;
}

@media (max-width: 767px) {
  .Hero {
    padding-bottom: 112px;
  }
}

@media (min-width: 768px) {
  .Hero {
    min-height: 640px;
    padding-top: 192px;
  }
}

.Hero__Title {
  font-size: 44px;
  font-weight: 900;
  line-height: 48px;
  margin: 0;
  margin-bottom: 8px;
  max-width: 640px;
}

@media (min-width: 768px) {
  .Hero__Title {
    font-size: 64px;
    line-height: 72px;
  }
}

.Hero__Subtitle {
  color: #84775d;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin: 0;
  margin-bottom: 40px;
}

.Hero__Link {
  align-items: center;
  color: #292929;
  display: flex;
  font-size: 16px;
  margin-right: auto;
  text-decoration: none;
}

.Hero__Link:hover {
  color: #8b9f22;
}

.Hero__Link__Icon {
  background-color: #a7c110;
  box-shadow: 0 8px 8px 0 #4f591a4d;
  border-radius: 50%;
  height: 32px;
  margin-right: 16px;
  padding: 8px;
  width: 32px;
}

.Label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}

.Picker {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
}

.Picker__Item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Picker__Item + .Picker__Item {
  border-left: 1px solid #d8d8d8;
}

.Picker__Input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.Picker__Time {
  color: #a7c110;
  font-size: 32px;
  line-height: 40px;
}

.Picker__Label {
  color: #292929;
  font-size: 14px;
  margin-top: -12px;
}

.Calculator {
  position: relative;
}

.Calculator__Section {
  margin-top: -64px;
  padding-bottom: 0;
  padding-top: 0;
}

@media (min-width: 768px) {
  .Calculator__Section {
    margin-top: -120px;
  }
}

.Calculator_Footnote {
  color: #84775d;
  font-size: 12px;
  font-weight: 500;
  right: 24px;
  position: absolute;
  top: -12px;
  transform: translateY(-100%);
}

@media (min-width: 992px) {
  .Calculator_Footnote {
    right: 0;
  }
}

.Calculator__Main {
  align-items: center;
  display: grid;
  gap: 16px;
  grid: auto-flow / repeat(1, 1fr);
}

@media (min-width: 768px) {
  .Calculator__Main {
    grid: auto-flow / repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .Calculator__Main {
    grid: auto-flow / repeat(3, 1fr);
  }
}

.Calculator__Footer {
  align-items: center;
  display: grid;
  gap: 8px;
  grid-template-rows: repeat(3, 1fr);
  justify-items: flex-end;
}

@media (max-width: 767px) {
  .Calculator > .Calculator__Footer {
    padding-top: 24px;
    padding-bottom: 32px;
  }
}

@media (min-width: 768px) {
  .Calculator__Footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.Calculator__Footer > p {
  align-items: center;
  display: flex;
  margin: 0;
  justify-content: space-between;
  width: 100%;
}

@media (min-width: 768px) {
  .Calculator__Footer > p {
    width: auto;
  }
}

.Calculator__Footer > p > strong {
  font-size: 24px;
  line-height: 32px;
  margin-left: 8px;
}

.Calculator__Title {
  color: #84775d;
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  margin: 0;
}

.Error {
  align-items: center;
  color: #cc8478;
  display: flex;
  font-size: 14px;
  font-weight: 500;
}

.Error__Icon {
  margin-right: 8px;
}

.MidHelp {
  background-color: #292929;
  box-shadow: 0 24px 72px 0 #29292928;
  color: #b99d64;
  justify-content: flex-end;
  position: relative;
}

@media (min-width: 768px) {
  .MidHelp {
    flex-direction: row;
  }

  .MidHelp::before,
  .MidHelp::after {
    bottom: 0;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 50vw;
    z-index: 1;
  }

  .MidHelp::before {
    background-color: #292929;
    left: 0;
    transform: translateX(-100%);
  }

  .MidHelp::after {
    background-color: #3f3f3f;
    right: 0;
    transform: translateX(100%);
  }
}

.MidHelp hr {
  border-color: #c1b8a57f;
}

.MidHelp p {
  margin: 0;
}

.MidHelp__Section {
  padding: 32px 24px;
  text-align: center;
  z-index: 2;
}

@media (min-width: 768px) {
  .MidHelp__Section {
    padding: 40px;
    width: 400px;
  }
}

@media (min-width: 768px) {
  .MidHelp__Section:first-child {
    text-align: right;
  }
}

.MidHelp__Section:last-child {
  background-color: #3f3f3f;
}

@media (min-width: 768px) {
  .MidHelp__Section:last-child {
    width: 360px;
    padding-right: 0;
    text-align: left;
  }
}

.MidHelp__Title {
  color: white;
  font-size: 32px;
  font-weight: normal;
  line-height: 48px;
  margin: 0;
}

.MidHelp__Title--Small {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 8px;
}

.Team {
  display: grid;
  gap: 32px;
  grid: auto-flow / repeat(1, 182px);
  margin: auto;
  margin-top: 64px;
}

@media (min-width: 576px) {
  .Team {
    grid: auto-flow / repeat(2, 182px);
  }
}

@media (min-width: 768px) {
  .Team {
    gap: 24px;
    grid: auto-flow / repeat(3, 182px);
  }
}

@media (min-width: 1200px) {
  .Team {
    gap: 16px;
    grid: auto-flow / repeat(5, 182px);
  }
}

.Team__Description {
  margin: 0 auto;
  max-width: 648px;
  text-align: center;
}

.Team__Description + .Team__Description {
  margin-top: 24px;
}

.TeamMember {

}

.TeamMember__Image {
  margin: -16px;
  margin-bottom: 16px;
  position: relative;
}

.TeamMember__LinkedIn {
  background: #292929;
  bottom: 16px;
  color: #a7c110;
  display: flex;
  position: absolute;
  right: 16px;
}

.TeamMember__LinkedIn:hover {
  color: #8b9f22;
}

.TeamMember__LinkedIn__Icon {
  border-radius: 4px;
  height: 24px;
  width: 24px;
}

.TeamMember__Name {
  color: #292929;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.TeamMember__Description {
  color: #84775d;
  display: block;
  font-size: 8px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.2px;
}

.Brands {
  display: grid;
  gap: 16px;
  grid: auto-flow / repeat(1, 1fr);
}

@media (min-width: 576px) {
  .Brands {
    grid: auto-flow / repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .Brands {
    grid: auto-flow / repeat(3, 1fr);
  }
}

@media (min-width: 992px) {
  .Brands {
    grid: auto-flow / repeat(4, 1fr);
  }
}

.Brands > .Panel {
  min-height: 180px;
}

.Steps {
  align-items: center;
  counter-reset: step;
  display: grid;
  gap: 128px;
  grid: auto-flow / repeat(1, 1fr);
  margin-top: 64px;
}

@media (min-width: 768px) {
  .Steps {
    gap: 16px;
    grid: auto-flow / repeat(3, 1fr);
  }
}

.Step {
  counter-increment: step;
  margin: auto;
  max-width: 320px;
  position: relative;
  text-align: center;
}

@media (min-width: 992px) {
  .Step {
    max-width: auto;
  }

  .Step + .Step::before {
    border-color: transparent;
    border-left-color: #c1b8a580;
    border-style: solid;
    border-width: 8px 0 8px 12px;
    content: ' ';
    display: block;
    left: -8px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
}

.Step::after {
  color: #c1b8a580;
  content: counter(step);
  font-size: 232px;
  font-weight: bold;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.Step__Title {
  font-size: 32px;
  font-weight: bold;
  line-height: 48px;
  margin: 0;
  margin-bottom: 8px;
}

.Step__Description {
  margin: 0;
}

#HowTo {
  background-image: url(../img/andrew-neel-218073-unsplash-copy@2x.jpg);
  background-size: cover;
}

.HowTo__Container {
  display: grid;
  gap: 16px;
  grid: auto-flow / repeat(1, 1fr);
  margin-bottom: 48px;
}

@media (min-width: 768px) {
  .HowTo__Container {
    grid: auto-flow / repeat(2, 1fr);
  }
}

@media (min-width: 992px) {
  .HowTo__Container {
    grid: auto-flow / repeat(3, 1fr);
  }
}

.HowTo {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media (min-width: 576px) {
  .HowTo {
    flex-direction: row;
    text-align: left;
  }
}

@media (min-width: 768px) {
  .HowTo {
    flex-direction: column;
    text-align: center;
  }
}

.HowTo__Logo {
  display: block;
  flex-basis: 72px;
  flex-shrink: 0;
  margin-bottom: 24px;
}

@media (min-width: 576px) {
  .HowTo__Logo {
    margin-bottom: 0;
    margin-right: 24px;
  }
}

@media (min-width: 768px) {
  .HowTo__Logo {
    margin-bottom: 24px;
    margin-right: 0;
  }
}

.HowTo__Description {
  margin: 0;
}

#Articles {
  background-image: url(../img/andrew-neel-218073-unsplash-copy-2@2x.jpg);
  background-size: cover;
  padding-bottom: 160px;
}

.Articles {
  display: grid;
  gap: 16px;
  grid: auto-flow / repeat(1, 1fr);
  margin-bottom: 48px;
}

@media (min-width: 768px) {
  .Articles {
    grid: auto-flow / repeat(2, 1fr);
  }
}

.Article {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.Article__Title {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin: 24px 0 16px;
}

.Article__Time {
  color: #84775d;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 16px;
  margin-bottom: 24px;
}

.Article__Summary {
  flex: 1;
  margin: 0;
  margin-bottom: 24px;
}

.Help {
  grid-row: 1;
}

@media (min-width: 992px) {
  .Help {
    grid-row: auto;
    margin-top: -112px;
  }
}

.Help__Title {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 8px;
}

.Help__Title--Large {
  font-size: 24px;
  line-height: 32px;
  margin-top: 24px;
}

.Help__Icon {
  width: 32px;
  height: 32px;
}

.Statistics {
  display: grid;
  gap: 24px;
  grid: auto-flow / repeat(2, 1fr);
  text-align: center;
}

@media (min-width: 768px) {
  .Statistics {
    gap: 16px;
    grid: auto-flow / repeat(4, 1fr);
  }
}

.Statistics__Numbers {
  color: white;
  font-size: 56px;
  font-weight: bold;
  line-height: 64px;
  margin: 8px 0;
}

.Statistics__Info {
  color: #c1b8a5;
  margin: 0;
}

.Footer {
  display: grid;
  gap: 32px;
  grid-template-columns: auto;
}

@media (min-width: 992px) {
  .Footer {
    grid-template-columns: auto 400px;
  }
}

.Footer__Logo {
  width: 72px;
}

.Footer hr {
  border-color: #c1b8a532;
}

.Footer__Social {
  align-items: center;
  display: flex;
  margin: 0;
  max-width: 240px;
}

.Footer__Social__Label {
  flex: 1;
}

.Footer__Social > .Link {
  margin-left: 24px;
}

.ContactUs {
  display: grid;
  gap: 16px 48px;
  grid: auto-flow / repeat(1, auto);
  margin: 0;
}

@media (min-width: 570px) {
  .ContactUs {
    grid: auto-flow / repeat(2, auto);
    width: fit-content;
  }
}

.ContactUs__Term {
  align-items: center;
  color: #84775d;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
}

.ContactUs__Icon {
  margin-right: 8px;
}


.ContactUS__Description {
  margin: 0;
}

.Copyright {
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  margin-top: 64px;
  justify-content: center;
}

@media (min-width: 768px) {
  .Copyright {
    justify-content: space-between;
  }
}

.Copyright > p {
  margin: 0;
}

.TermsAndConditions {

}


 /* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap; /* 1 */
}

/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.clearfix:after {
  clear: both;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
